<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Digital Person</title>
  <meta name="referrer" content="strict-origin-when-cross-origin">
</head>
<body>
  <h2>Welcome to My Avatar</h2>

  <div id="soulmachines-avatar" style="width: 100%; height: 600px;"></div>

  <script 
    src="https://static.soulmachines.com/widget-snippet-1.12.0.min.js"
    data-sm-api-key="eyJzb3VsSWQiOiJkZG5hLWd1YW5oZW5nLWNlbi1vcmdjY2M5LS1leHBsb3JlciIsImF1dGhTZXJ2ZXIiOiJodHRwczovL2RoLnNvdWxtYWNoaW5lcy5jbG91ZC9hcGkvand0IiwiYXV0aFRva2VuIjoiYXBpa2V5X3YxXzQ2ODE1MTExLTRlNWUtNDhmZS1hYzdjLWRlNTg5ODc4NzJhZSJ9"
  ></script>
</body>
</html>


